# Игнорируем всё по умолчанию
*

# Разрешаем содержимое папки проекта
!Дисперсия\ доклад+презентация/
!Дисперсия\ доклад+презентация/*

# Разрешаем служебные файлы в корне
!README.md
!LICENSE
!.gitignore

# Игнорируем системные файлы
.DS_Store
